@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Black';
    src: url('../Fonts/poppins/Poppins-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hepidova';
    src: url('../Fonts/hepidova/Hepidova\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif; /* Applique Poppins à toute la page */
}


.btn-pink{
    color:#fff;
    font-family: 'Hepidova', sans-serif;
    background: rgb(235,27,69);
    background: linear-gradient(90deg, rgba(235,27,69,1) 0%, rgba(197,62,149,1) 55%);
}
.btn-pink:hover{
    color:#fff;
    font-family: 'Hepidova', sans-serif;
    background: rgb(0,153,255);
    background: linear-gradient(90deg, rgba(0,153,255,1) 0%, rgba(46,49,145,1) 35%);
}

.hero-section {
    height: 100vh;
    background-image: url('../img/Background\ YEP.jpg'); /* Vous pouvez remplacer cette URL par votre propre image */
    background-size: cover;
    background-position: center;
    color: white;
    flex-direction: column;
    position: relative;
  }
.hero-content-1, .hero-content-2, .hero-content-3 {
    text-align: center;
}
.hero-content-1 {
    top: 30%;
    left: 50%;
    margin-top: 10px;
}
.navbar {
    z-index: 10;
    position: relative;
}
.btn-register {
    font-size: 18px;
    padding: 10px 13px;
    color:#fff;
    font-family: 'Hepidova', sans-serif;
    background: rgb(235,27,69);
    background: linear-gradient(90deg, rgba(235,27,69,1) 0%, rgba(197,62,149,1) 55%);
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s;
    top: 90%;
    z-index: 2; /* Assurez-vous que le bouton soit au-dessus */
}
.btn-register:hover {
    color:#fff;
    font-family: 'Hepidova', sans-serif;
    background: rgb(0,153,255);
    background: linear-gradient(90deg, rgba(0,153,255,1) 0%, rgba(46,49,145,1) 35%);
  }

.color-pink{
    color: #eb1b45;
}
.color-blue{
    color: #0084c7;
}

.color-yellow {
    color: #ffc50a;
}

.bg-blue{
    background-color: #1e2945;
}
.bg-pink{
    background-color: #eb1b45;
}

.font-hepidova {
    font-family: 'Hepidova', sans-serif;
}
.font-poppins-h1 {
    font-family: 'Poppins Black', sans-serif;
    font-size: 3.5rem;
}
.font-poppins {
    font-family: 'Poppins Black', sans-serif;;
}

@media screen and (max-width: 480px) {
    .font-poppins-h1 {
        font-family: 'Poppins Black', sans-serif;
        font-size: 1.5rem;
    }
    .hero-content-1 p {
        font-size: 12px;
    }
}
@media screen and (min-width: 480px) and (max-width: 800px) {
    .font-poppins-h1 {
        font-family: 'Poppins Black', sans-serif;
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 800px) and (max-width: 1080px) {
    .font-poppins-h1 {
        font-family: 'Poppins Black', sans-serif;
        font-size: 3rem;
    }
    .card-hover-one{
        width: 22rem; 
    }
}

@media screen and (min-width: 1080px) {
    .font-poppins-h1 {
        font-family: 'Poppins Black', sans-serif;
        font-size: 3.8rem;
    }
    .card-hover-one{
        width: 25rem; 
    }
}

/* Style pour les blocs de compte à rebours */
.countdown-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style pour les valeurs numériques */
.countdown-item .value {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

/* Style pour les labels (Jours, Heures, Minutes, Secondes) */
.countdown-item .label {
    color: #6c757d;
    font-size: 12px;
}

/* Media Queries pour une meilleure adaptation aux écrans plus petits */
@media (max-width: 768px) {
    .countdown-item {
        padding: 10px;
    }
    
    .countdown-item .value {
        font-size: 2.5rem;
    }

    .countdown-item .label {
        font-size: 10px;
    }
    .hero-section {
        justify-content: flex-start; /* Pour mieux positionner les éléments lorsque l'écran est plus petit */
    }
    
    .hero-content-1, .hero-content-2, .hero-content-3 {
        margin-top: 10px;
    }
    .card-hover-one{
        width: 22rem; 
    }
}

@media (max-width: 576px) {
    .countdown-item {
        padding: 2px;
    }
    
    .countdown-item .value {
        font-size: 2rem;
    }

    .countdown-item .label {
        font-size: 8px;
    }

    .col-3 {
        margin-bottom: 10px; /* Espacement entre les blocs sur mobile */
    }
    .card-hover-one{
        width: 20rem; 
    }
}


/*SCHEDULE*/
.ftco-search {
    position: relative;
    width: 100%;
    display: block; 
}
.ftco-search .nav-pills {
    width: 100%;
    display: block; 
}
.ftco-search .nav-pills p {
    margin-bottom: 0;
}
.ftco-search .nav-pills .nav-link {
    padding: 35px 30px !important;
    border-radius: 0;
    margin-bottom: 0;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    background: #fff;
    width: 33.33333%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; 
}
.ftco-search .nav-pills .nav-link:after {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0;
    content: '';
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eb1b45 transparent transparent transparent;
    opacity: 0; 
}
.ftco-search .nav-pills .nav-link span {
    display: block;
    font-size: 14px; 
}

.ftco-search .nav-pills .nav-link:hover {
    background: #eb1b45;
    color: #fff; 
}
.ftco-search .nav-pills .nav-link.active {
    color: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background: #eb1b45; 
}
.ftco-search .nav-pills .nav-link.active:after {
    opacity: 1; 
}
.ftco-search .tab-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-top: 15px; 
}
.speaker-wrap {
    width: 100%;
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 25px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.speaker-wrap-bg-blue-1 {
    background-color: #0084c7;
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 25px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.speaker-wrap .speaker-img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
}
.speaker-wrap .text {
    width: calc(100% - 120px);
}

.speaker-wrap .text h3.speaker-name {
    font-size: 20px;
}
.speaker-wrap .text .position {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.border-blue {
    border-color: #0084c7 !important;
}

.border-pink {
    border-color: #eb1b45 !important;
}
  
.carousel-indicators .carousel-btn {
    width: 20px;
    height: 0;
    margin: 5px;
    margin-top: 20px;
    border-radius: 50%;
    background: #e6e6e6;
    position: relative;
}

.carousel-indicators .carousel-btn.active {
    background: #b3b3b3;
}
.carousel-indicators{
    margin-top: 20%;
}

.logo-img {
    height: 120px; /* Fixez une hauteur uniforme */
    width: auto; /* Maintient les proportions */
    object-fit: contain; /* Assure que l'image est contenue sans déformation */
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003366; /* Couleur bleue */
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 99;
}

.back-to-top:hover {
    background-color: #002244; /* Couleur bleue foncée */
    color: #f8c200; /* Couleur jaune pour l'icône au survol */
}

.back-to-top i {
    font-size: 1.5rem;
}

/* Afficher le bouton quand on descend */
.back-to-top.show {
    opacity: 1;
    visibility: visible;
}
